@charset "UTF-8";

/* 全てのWebページに適用される */
html {
    font-family: sans-serif;
}
html * {
    box-sizing: border-box;
}
body {
    background-color: #eeece9;
}
h2 {
    color: #3f5170;
    font-size: 22px;
}   